<form nz-form class="card" [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <h3 nz-typography class="title">Register</h3>
  <p nz-typography><span style="color: red">*&nbsp;</span>Username</p>
  <nz-form-item class="item">
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input formControlName="username" nz-input />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <p nz-typography>Nickname</p>
  <nz-form-item class="item">
    <nz-form-control>
      <nz-input-group nzPrefixIcon="user">
        <input formControlName="nickname" nz-input />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <p nz-typography>Email</p>
  <nz-form-item class="item">
    <nz-form-control>
      <nz-input-group nzPrefixIcon="mail">
        <input formControlName="email" nz-input />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <p nz-typography><span style="color: red">*&nbsp;</span>Password</p>
  <nz-form-item class="item">
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input formControlName="password" nz-input type="password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <p nz-typography><span style="color: red">*&nbsp;</span>Confirm Password</p>
  <nz-form-item class="last">
    <nz-form-control [nzErrorTip]="errorTpl">
      <nz-input-group nzPrefixIcon="lock">
        <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
      </nz-input-group>
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please confirm your password!
        </ng-container>
        <ng-container *ngIf="control.hasError('confirm')">
          Two passwords that you enter is inconsistent!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <div style="color: red" *ngIf="errorMsg">{{errorMsg}}</div>
  <nz-spin [nzSpinning]="loading">
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!validateForm.valid" class="login">Register and Login Now</button>
      </nz-form-control>
    </nz-form-item>
  </nz-spin>
</form>
